<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hajda Models</title>
  <link rel="stylesheet" href="/dist/css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 
</head>
<body>
  <div class="home">
    <div class="info">
      <div class="infor">
      
        <span>NOSSO SITE SERÁ LANÇADO</span>
        <h1>EM </h1> 
        <h1>BREVE</h1>
        <div id="countdown" class="countdown">
          <div class="time">
            <h2 id="days">00</h2>
            <small>Dias</small>
          </div>
          <div class="time">
            <h2 id="hours">00</h2>
            <small>Horas</small>
          </div>
          <div class="time">
            <h2 id="minutes">00</h2>
            <small>minutos</small>
          </div>
          <div class="time">
            <h2 id="seconds">00</h2>
            <small>Segundos</small>
          </div>
        </div>
      </div>
      <div class="redes">
        <ul>
          <li>
            <a href="https://www.facebook.com/Hadja-Models-163091213709080/?_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a>
            
          </li>

          <li>
            <a href="https://www.instagram.com/hadjamodels/" target="_blank"><i class="fab fa-instagram"></i></a>
            </i></li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=244946555769" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="/dist/js/script.js"></script>
</body>
</html>