<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #343a40;
    flex-direction: column;
    color: #ccc;
  }
  p {
    font-size: 12rem;

  }
  span {
    font-size: 3rem;
    line-height: 10px;
  }
</style>
<body>
  <div class="main">
    <p>404</p>
    <span>Routa não encontrada.</span>
  </div>
</body>
</html>