<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Hadja - Adicionar Models</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="/img/hadjaa.png" alt="AdminLTELogo" height="60" width="60">
  </div>

    <!-- Navbar -->
    <%- include('../components/nav.ejs') %>
    <!-- /.navbar -->
    
    <!-- Theme style -->

  <!-- Main Sidebar Container -->
  <%- include('../components/leaftsidebar.ejs', modeMenu) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Adicionar Modelo</h1>
          </div><!-- /.col -->
          <div class="row m-2">
          </div>
        </div><!-- /.row -->
        <form action="/admin/models/add" method="post" >
          <div class=" mr-2 ml-2 mt-4">
            <div class="row "> 
             <div class="col-sm-6">
               <!-- text input -->
               <div class="form-group">
                 <label>Nome</label>
                 <input type="text" name="name" class="form-control" placeholder="Digite aqui o nome">
               </div>
             </div>
             <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Idade</label>
                <input type="number" name="age" class="form-control" placeholder="Digite aqui a idade">
              </div>
            </div>
           </div>
           <div class="row"> 
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Pele</label>
                <input type="text" name="skin" class="form-control" placeholder="Digite aqui a cor da Pele">
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Sexo</label>
                 <select class="form-control select2" name="sexy" style="width: 100%;">
                   <option selected="selected" value="M">Masculino</option>
                   <option value="F">Femenino</option>
                 </select>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Altura</label>
                 <input type="text" name="height" class="form-control" placeholder="Digite aqui altura">
                 </select>
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Peito</label>
                <input type="text" name="chest" class="form-control" placeholder="Digite aqui o tamnaho do Peito Ex : 20 cm">
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Cintura</label>
                <input type="text" name="wais" class="form-control" placeholder="Digite aqui o tamnaho da cintura Ex : 20 cm">
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Anca</label>
                <input type="text" name="hip" class="form-control" placeholder="Digite aqui o tamnaho da Anca Ex : 20 cm">
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Sapato</label>
                <input type="text" name="shoe" class="form-control" placeholder="Digite aqui o tamnaho do sapatos Ex : 30-40">
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Olhos</label>
                 <select class="form-control select2" name="eyes" style="width: 100%;">
                   <option selected="selected" value="Preto">Preto</option>
                   <option value="Castanhos">Castanhos</option>
                   <option value="Castanhos escuro">Castanhos escuro</option>
                   <option value="Azuis">Azuis</option>
                   <option value="Verdes">Verdes</option>
                 </select>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                <label>Cabelo</label>
                <input type="text" name="heir" class="form-control" placeholder="Digite aqui a cor do cabelo">
              </div>
            </div>
            
          </div>
           <div class="row">
            <div class="input-group col-sm-8 mb-2">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile" name="file">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>     
            </div>
            <div class="input-group col-sm-8 mb-2">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile" name="file">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>
            </div>
            <div class="input-group col-sm-8 mb-2">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile" name="file">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>         
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col-sm-4">
             <button type="submit" class="btn btn-block btn-dark btn-flat">Enviar</button>
            </div>
          
          </div>
          </div>
         
        </form>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
       <div class="row">
         
       </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright © 2022 <a href="http://www.unituenda.ao">uniTuenda</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/dist/js/adminlte.min.js"></script>
<script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>
<%- include('../components/error.ejs', { error }) %>
</body>
</html>
