<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Hadja - Cadastrar noticia</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="/img/hadjaa.png" alt="AdminLTELogo" height="60" width="60">
  </div>

    <!-- Navbar -->
    <%- include('../components/nav.ejs') %>
    <!-- /.navbar -->
    
    <!-- Theme style -->

  <!-- Main Sidebar Container -->
  <%- include('../components/leaftsidebar.ejs', modeMenu) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Noticias</h1>
          </div><!-- /.col -->
          <div class="row m-2">
          </div>
        </div><!-- /.row -->
        

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Conteúdos publicados no blogue </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Categoria</th>
                    <th>Conteudo</th>
                    <th>Data</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% for(new in news) { %>
                    <tr>
                      <td>1</td>
                      <td>Internet
                        Explorer 4.0
                      </td>
                      <td>Modelos</td>
                      <td>Controlers</td>
                      <td>02/02/2022</td>
                      <td>
                        <div class="row">
                          <a href="" class="col-sm-6 " style="border-right: 1px solid #ccc; display: flex; align-items: center; justify-content: center;"><i class="fa fa-trash" style="color: red;"></i></i></a>
                          <a href="" class="col-sm-6"><i class="fa fa-pen" style="color: #3f6791; display: flex; align-items: center; justify-content: center;"></i></a>
                        </div>
                     </td>
                    </tr>
                    <% } %>
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright © 2022 <a href="http://www.unituenda.ao">uniTuenda</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script src="/dist/js/adminlte.min.js"></script>
<script>
  $(function () {

    $('#example2').DataTable({
      "responsive": true,
      "lengthChange": false,
      "paging": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "language": {
      "decimal": "",
      "emptyTable": "Sem dado disponivel na tabela",
      "info": "Mostrando _START_ de _END_",
      "infoEmpty": "Mostrando 0 de 0",
      "infoFiltered": "(filtrado de _MAX_)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ ",
      "loadingRecords": "Processando...",
      "processing": "Processando...",
      "search": "Pesquisar:",
      "zeroRecords": "Nenhum resultado encontrado",
      "paginate": {
        "first": "Primeiro",
        "last": "Anterior",
        "next": "Proximo",
        "previous": "Voltar"
    }
    }
    });
  });
</script>
<%- include('../components/error.ejs') %>
</body>
</html>
